@using Super_Jew_2._0.Backend.ShulRequests
@code {
    [Parameter]
    public ShulRequest Request { get; set; }

    [Parameter]
    public EventCallback<(int requestId, string decision, ShulRequest request)> OnDecisionMade { get; set; }

    private async Task ApproveRequest()
    {
        if (Request != null)
        {
            await OnDecisionMade.InvokeAsync((Request.RequestID, "Approved", Request));
        }
    }

    private async Task RejectRequest()
    {
        if (Request != null)
        {
            await OnDecisionMade.InvokeAsync((Request.RequestID, "Rejected", Request));
        }
    }
}

        <!-- ADD SHUL DETAILS -->

@if (Request != null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Request.ShulName</h5>
            <!-- Display other ShulRequest details here -->
            <div class="data-field">Location: @Request.Location</div>
            <div class="data-field">Gabbai: @Request.ContactInfo</div>
            <div class="data-field">Shacris Times: @Request.ShachrisTime</div>
            <div class="data-field">Mincha Time: @Request.MinchaTime </div>
            <div class="data-field">Maariv Time: @Request.MaarivTime</div>
            
            <button class="btn btn-success" @onclick="ApproveRequest">Approve</button>
            <button class="btn btn-danger" @onclick="RejectRequest">Reject</button>
        </div>
    </div>
}
else
{
    <p>Request information is not available at this moment.</p>
}