@using Super_Jew_2._0.Backend
@using Super_Jew_2._0.Backend.Services
@inject Super_Jew_2._0.Backend.Services.ShulService ShulService



@code {

    private User user;
    private String password = "password123";
    private String username = "john_doe";

    [Parameter]
    public Shul CurrentShul { get; set; }

    [Parameter]
    public bool IsFullCard { get; set; } = false;

    [Parameter]
    public EventCallback OnCardClick { get; set; }

    private void CardClicked()
    {
        OnCardClick.InvokeAsync(null);
    }
    private void RemoveShul()
    {
        user = ShulService.GetFollowedShulsForUser(username, password);
        ShulService.RemoveShulFromUserProfile(user.UserID, CurrentShul.ShulID); 
    }
}

@if (IsFullCard)
{
    <div class="card" @onclick="CardClicked">
        <div class="card-header">@CurrentShul.ShulName</div>
        <div class="data-field">Location: @CurrentShul.Location</div>
        <div class="data-field">Gabbai: @CurrentShul.ContactInfo</div>
        <div class="data-field">Shacris Times: @CurrentShul.ShachrisTime</div>
        <div class="data-field">Mincha Time: @CurrentShul.MinchaTime </div>
        <div class="data-field">Maariv Time: @CurrentShul.MaarivTime</div>
        <!-- data fields here -->

        <button class="btn btn-danger" @onclick="RemoveShul">Remove</button>
    </div>
}
else
{

    <div class="card-name-box" @onclick="CardClicked">@CurrentShul.ShulName</div>
}
