@page "/shulevents"
@using Super_Jew_2._0.Backend
@using Super_Jew_2._0.Backend.Services

@inject ShulStateService ShulState
@inject NavigationManager Nav

<h3>Events for @ShulState.CurrentShul?.ShulName</h3>

<button @onclick="GoBack" class="btn btn-secondary">Back to Shul</button>

@if (ShulState.CurrentShul?.shulEvents != null && ShulState.CurrentShul.shulEvents.Any())
{
    <div class="events-container">
    @foreach (var shulEvent in ShulState.CurrentShul.shulEvents)
    {
        <div class="event-card">
            <div class="event-card-header">@shulEvent.EventName</div>
            <div class="event-data-field">Time: @shulEvent.TimeOfEvent</div>
            <div class="event-data-field">Location: @shulEvent.Location</div>
            <div class="event-data-field">How to Sign up: @shulEvent.Subscription</div>
            <!-- <div class="event-data-field">Description</div> -->
            <!-- Add other fields as necessary -->
        </div>
    }
    </div>
}

else
{
    <div>No events available for @ShulState.CurrentShul?.ShulName</div>
}

@code {
    private void GoBack()
    {
        Nav.NavigateTo("/myshuls"); // Replace with the actual route
    }

    protected override void OnInitialized()
    {
    // Here, CurrentShul is already set by ShulStateService
    }
}