@using Super_Jew_2._0.Backend
@using Super_Jew_2._0.Backend.Services
@using Super_Jew_2._0.Backend.ShulServices
@inject Super_Jew_2._0.Backend.Services.ShulService ShulService
@inject NavigationManager Nav
@inject ShulStateService ShulState
@inject IJSRuntime jsRuntime



@code {
    [Parameter]
    public Shul CurrentShul { get; set; }

    [Parameter]
    public bool IsFullCard { get; set; } = false;

    [Parameter]
    public EventCallback OnCardClick { get; set; }
    
    [Parameter]
    public EventCallback<int> OnShulRemoved { get; set; }


    private void CardClicked()
    {
        OnCardClick.InvokeAsync(null);
    }
    private async Task RemoveShul()
    {
        var confirmed = await jsRuntime.InvokeAsync<bool>("confirm", new object[] { "Are you sure you want to remove this shul?" });
        if (confirmed)
        {
            ShulService.RemoveShulFromUserProfile(UserService.CurrentUser.UserID, CurrentShul.ShulID);
            await OnShulRemoved.InvokeAsync(CurrentShul.ShulID);
            StateHasChanged();
        }
        else
            {
                Console.WriteLine("Shul removal cancelled.");
            }
    }
    
    private void GetShulEvents()
    {
        ShulState.CurrentShul = CurrentShul;
        Nav.NavigateTo("/shulevents");
    }
}

@if (IsFullCard)
{
    <div class="card" @onclick="CardClicked">
        <div class="card-header">@CurrentShul.ShulName</div>
        <div class="data-field">Location: @CurrentShul.Location</div>
        <div class="data-field">Gabbai: @CurrentShul.ContactInfo</div>
        <div class="data-field">Shacris Times: @CurrentShul.ShachrisTime</div>
        <div class="data-field">Mincha Time: @CurrentShul.MinchaTime </div>
        <div class="data-field">Maariv Time: @CurrentShul.MaarivTime</div>
        
        
        <!--CHANGE COLOR for button -->
        <button class="btn btn-primary" @onclick="GetShulEvents">Events</button>
        
        <button class="btn btn-danger" @onclick="RemoveShul">Remove</button>
    </div>
}
else
{
    <div class="card-name-box" @onclick="CardClicked">@CurrentShul.ShulName</div>
}
