@using Super_Jew_2._0.Backend
@using Super_Jew_2._0.Backend.Services
@using Super_Jew_2._0.Backend.ShulServices
@inject Super_Jew_2._0.Backend.Services.ShulService ShulService
@inject NavigationManager Nav
@inject ShulStateService ShulState



@code {

    //private User user;
    //private String password = "password123";
    //private static string username = UserService.CurrentUser.Username;

    [Parameter]
    public Shul CurrentShul { get; set; }

    [Parameter]
    public bool IsFullCard { get; set; } = false;

    [Parameter]
    public EventCallback OnCardClick { get; set; }

    private void CardClicked()
    {
        OnCardClick.InvokeAsync(null);
    }
    private void RemoveShul()
    {
        //user = ShulService.GetFollowedShulsForUser(UserService.CurrentUser.Username, UserService.UserPassword);
        ShulService.RemoveShulFromUserProfile(UserService.CurrentUser.UserID, CurrentShul.ShulID); 
        Nav.NavigateTo("/myshuls");
       // StateHasChanged();
    }
    
    private void GetShulEvents()
    {
        ShulState.CurrentShul = CurrentShul;
        Nav.NavigateTo("/shulevents");
    }
}

@if (IsFullCard)
{
    <div class="card" @onclick="CardClicked">
        <div class="card-header">@CurrentShul.ShulName</div>
        <div class="data-field">Location: @CurrentShul.Location</div>
        <div class="data-field">Gabbai: @CurrentShul.ContactInfo</div>
        <div class="data-field">Shacris Times: @CurrentShul.ShachrisTime</div>
        <div class="data-field">Mincha Time: @CurrentShul.MinchaTime </div>
        <div class="data-field">Maariv Time: @CurrentShul.MaarivTime</div>
        
        
        <!--CHANGE COLOR for button -->
        <button class="btn btn-primary" @onclick="GetShulEvents">Events</button>
        
        <button class="btn btn-danger" @onclick="RemoveShul">Remove</button>
    </div>
}
else
{
    <div class="card-name-box" @onclick="CardClicked">@CurrentShul.ShulName</div>
}
